body{
    background: #66ccff;
    font-family: 'Franklin Gothic Medium';
    text-align: center;
    padding: 10px;
    color: #fff;
}
.teks{
    background-color: #1EA1F2;
    border-radius: 6px;
    font-size: 20px;
    margin: 20px 12px 0 12px;
}
.t-sim {
    font-family: 'Franklin Gothic Medium';
    font-size: 18px;
    border-radius: 3px;
    margin-right: 10px;
    color: rgb(15, 15, 15);
    background-color: #e6e6e6;
    margin-top: 300px;
}

.t-scan {
    font-family: 'Franklin Gothic Medium';
    font-size: 18px;
    border-radius: 3px;
    margin-right: 10px;
    color: rgb(0, 0, 0);
    background-color: #e6e6e6;
    margin-top: 25px;
}